@import "mixins";



@keyframes loaderPieceAnimation {
  0%,
  100% {
    transform: scaleY(.5);
  }
  33%, 50% {
    transform: scaleY(1);
  }
}

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 42px;
  color: $black-color;
  width: 1em;
  height: 1em;
}

.loader-piece {
  border-radius: .08em;
  animation: loaderPieceAnimation 1s infinite ease-in-out;
  width: .25em;
  height: 1em;
  background: currentColor;
  transform: scaleY(.5);

  &:nth-child(2) {
    animation-delay: -.15s;
  }

  &:nth-child(3) {
    animation-delay: -.3s;
  }
}
