<label class="input">
  <input [formControl]="searchControl" type="text" placeholder="Search books here">
</label>

<ng-container *ngIf="results$ | async as results">
  <ng-container *ngIf="results.isLoading">
    <div class="loader-wrap">
      <app-loader></app-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="results.books.length && !results.isLoading">
    <app-books-grid
      (bookClick)="bookClick.emit($event)"
      [books]="results.books"
    ></app-books-grid>

    <div *ngIf="!results.isAllPagesLoaded" class="load-more">
      <button *ngIf="!results.isPageLoading" (click)="nextPage$.next()">Load more</button>
      <app-loader *ngIf="results.isPageLoading"></app-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="!results.books.length && !results.isLoading && !results.isInitial">
    <app-info-message>
      <h3>Sorry, nothing was found</h3>
      <p>We could not find a book. Please try a different query</p>
    </app-info-message>
  </ng-container>
</ng-container>
