@import "mixins";



.loader-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  width: 100%;
}

app-info-message,
app-books-grid {
  margin-top: 48px;
  animation: slideAnimation .5s;

  @include media-below($screen-mobile) {
    margin-top: 24px;
  }
}

.load-more {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid $secondary-black-color;
  }
}
