<div class="page-inner">
  <div class="container">
    <app-page-title>
      <h1 class="page-title">Welcome, {{auth.userData.username}}!</h1>
      <a [routerLink]="'/whitelist'" class="navigation-link"><i class="material-icons">favorite</i>Whitelist</a>
    </app-page-title>

    <app-books-searcher
      (bookClick)="popup.openPopup($event)"
      [defaultQuery]="'Stephen Hawking'"
    ></app-books-searcher>
  </div>
</div>
