@import "mixins";


:host {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
}

button {
  border: 1px solid $secondary-black-color;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  width: 100%;
}

i {
  vertical-align: -.15em;
}
