<ng-container *ngIf="whitelist$ | async as whitelistData">
  <button *ngIf="!whitelistData.isWhitelisted" (click)="whitelist.addBook(book)">
    <i class="material-icons">favorite</i>
    Add to whitelist
  </button>
  <button *ngIf="whitelistData.isWhitelisted" (click)="whitelist.removeBook(book)">
    <i class="material-icons">favorite_border</i>
    Remove from whitelist
  </button>
</ng-container>
