@import "mixins";



app-info-message {
  display: inline-flex;
  border: $tertiary-black-color 2px solid;
  border-radius: 12px;
  padding: 32px 36px;
  background: $white-color;
  max-width: 760px;
  flex-flow: column;

  h3 {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.15;
  }

  p {
    font-size: 18px;
    color: $secondary-black-color;
    margin: .66em 0 0;
    line-height: 1.3;
  }
}

@include media-below($screen-mobile) {
  app-info-message {
    border-radius: 8px;
    border-width: 1px;
    padding: 12px 16px;
    max-width: unset;
    width: 100%;

    h3 {
      font-size: 18px;

      small {
        font-size: 14px;
      }
    }

    p {
      font-size: 14px;
    }
  }
}
