@import "mixins";



app-page-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .navigation-link {
    font-size: 24px;
    text-decoration: none;
    color: $black-color;
    transition: color .2s;

    &:hover {
      color: $secondary-black-color;
    }

    &:active {
      color: $black-color;
    }

    i {
      vertical-align: -.15em;
      margin-right: .2em;
    }
  }

  @include media-below($screen-mobile) {
    flex-flow: column;

    .page-title {
      margin-bottom: 8px;
    }

    .navigation-link {
      font-size: 18px;
      margin-bottom: 18px;
    }
  }
}
