<form [formGroup]="formGroup" (submit)="onSubmit()">
  <label class="input">
    <input formControlName="username" type="text" placeholder="Enter your name here">
    <button type="submit" [disabled]="!formGroup.valid">Submit</button>
  </label>
</form>
