@import "mixins";



*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background: $background-color;
  color: $black-color;
  margin: 0;
  font: 400 16px Roboto;
  position: relative;
  min-width: 320px;

  &.scrollbar-is-locked {
    overflow: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
}

a {
  &:focus {
    outline: none;
  }

  &.active {
    cursor: default;
  }
}

li {
  list-style: none;
}

.nobr {
  white-space: nowrap;
}

button {
  font: 700 16px Roboto;
  user-select: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;

  &:not([disabled]) {
    cursor: pointer;
  }
}

a {
  color: inherit;
}
