@import "mixins";



.container {
  display: block;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
  min-width: $container-min-width;
  width: 100%;

  @include media-below($screen-mobile) {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
    min-width: $container-min-width-mobile;
    max-width: $container-max-width-mobile;
  }
}
