@import 'mixins';



.input {
  --background-color: #fff;
  --static-color: #{$secondary-black-color};
  --hover-color: #{$hover-black-color};
  --active-color: $black-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-size: 18px;

  &-label {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: inherit;
    line-height: inherit;
    pointer-events: none;
    transform-origin: top left;
    transition: .2s;
    background: var(--background-color);
    color: var(--static-color);
    border-radius: 4px;
    padding: 2px;

    .has-value &,
    input:focus ~ & {
      transform: translate(0, -23px) scale(.7);
      color: var(--active-color);
    }
  }

  input {
    border-radius: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    border: 2px solid var(--static-color);
    height: 56px;
    font-size: inherit;
    padding: 20px 130px 20px 20px;
    outline: none;
    width: 100%;
    transition: border-color .15s;

    &:hover {
      border-color: var(--hover-color);
    }

    &:focus {
      border-color: var(--active-color);
    }
  }

  button {
    color: $white-color;
    border-radius: 8px;
    background: $accent-color;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    padding: 12px 24px;
    line-height: 1;
    top: 4px;
    right: 4px;
    bottom: 4px;
    transition: background .15s;

    &:hover {
      background: #{mix($accent-color, #fff, 90%)};
    }

    &:active {
      background: #{mix($accent-color, #000, 90%)};
    }
  }
}

@include media-below($screen-mobile) {
  :host {
    width: 100%;
  }

  .input {
    flex-flow: column;
    font-size: 16px;

    &-label {
      top: 12px;
      left: 16px;
      padding: 1px;

      .has-value &,
      input:focus ~ & {
        transform: translate(0, -18px) scale(.7);
      }
    }

    input {
      border-radius: 8px;
      border-width: 1px;
      height: 46px;
      padding: 14px 16px;
      width: 100%;
    }

    button {
      font-size: 16px;
      position: static;
      padding: 15px 24px;
      margin-top: 4px;
      width: 100%;
    }
  }
}
