@import "mixins";



.page-inner {
  padding: #{$container-padding * 2} 0;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;

  @include media-below($screen-mobile) {
    padding: #{$container-padding-mobile * 2} 0;
  }
}
