@import "mixins";



.page-title {
  font-size: 72px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  word-break: break-word;
  margin: 0 0 24px;

  @include media-below($screen-laptop) {
    font-size: 64px;
  }

  @include media-below($screen-mobile) {
    font-size: 36px;
    margin-bottom: 16px;

    br {
      display: none;
    }
  }

  @include media-below($screen-small-mobile) {
    font-size: 32px;
  }
}
