@import "mixins";



:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  justify-content: space-between;

  @include media-below($screen-laptop) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @include media-below($screen-tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include media-below($screen-mobile) {
    grid-template-columns: 1fr 1fr;
  }
}

