@import "mixins";



:host {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;

  &.is-clickable {
    cursor: pointer;
  }
}

.cover-image {
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .25);
  overflow: hidden;
  background: #eee;
  padding-top: 140%;
  width: 100%;
  position: relative;
  z-index: 0;
  transition: box-shadow .2s;

  :host(.is-clickable:hover) & {
    box-shadow: 0 0 16px rgba(0, 0, 0, .33);
  }

  img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

h4 {
  margin: 8px 0 0;
  font-size: 16px;
  font-weight: 700;
  word-break: break-word;

  @include media-below($screen-small-mobile) {
    font-size: 14px;
  }
}
