<div class="page-inner">
  <div class="container">
    <app-page-title>
      <h1 class="page-title">Your whitelist <i class="material-icons heartbeat">favorite</i></h1>
      <a [routerLink]="'/'" class="navigation-link"><i class="material-icons">arrow_back</i>Back</a>
    </app-page-title>

    <ng-container *ngIf="whitelist.books$ | async as books">
      <app-info-message *ngIf="!books.length">
        <h3>Whitelist is empty</h3>
        <p>You can add books to your whitelist in the popup<br><a [routerLink]="'/'">Search for a book</a></p>
      </app-info-message>
      <app-books-grid
        *ngIf="books.length"
        (bookClick)="popup.openPopup($event)"
        [books]="books">
      </app-books-grid>
    </ng-container>
  </div>
</div>
