@import "mixins";



@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@include slideAfterLoad;

.heartbeat {
  animation: heartbeat .5s infinite;
  color: #ff3f3a;
  vertical-align: -.1em;
}
