@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

@mixin slideAfterLoad() {
  :host-context(app-root:not(.is-loaded)) .page-inner {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-60px);
  }

  :host-context(app-root.is-loaded) .page-inner {
    animation: slideAnimation .5s;
  }
}
