$screen-small-mobile: 340px;
$screen-mobile: 760px;
$screen-tablet: 1260px;
$screen-laptop: 1450px;

$container-padding: 40px;
$container-min-width: $screen-mobile;
$container-max-width: 1680px;
$container-padding-mobile: 20px;
$container-min-width-mobile: 320px;
$container-max-width-mobile: 560px;

$background-color: #fff;
$white-color: #fff;
$secondary-white-color: adjust_color($white-color, $alpha: -.33);
$hover-white-color: adjust_color($white-color, $alpha: -.5);
$tertiary-white-color: adjust_color($white-color, $alpha: -.66);
$black-color: #212121;
$secondary-black-color: adjust_color($black-color, $alpha: -.33);
$hover-black-color: adjust_color($black-color, $alpha: -.5);
$tertiary-black-color: adjust_color($black-color, $alpha: -.66);
$accent-color: #5200FF;
