<div class="container popup-container">
  <div class="popup-close" (click)="onClose()">
    <i class="material-icons">close</i>
  </div>

  <div *ngIf="book" class="popup">
    <div class="popup-book">
      <app-book-item
        [book]="book"
        [isClickable]="false"
        [hasTitle]="false"
      ></app-book-item>
      <app-whitelist-toggle
        [book]="book"
      ></app-whitelist-toggle>
    </div>

    <div class="popup-content">
      <h2 [innerHTML]="book.title"></h2>
      <p [innerHTML]="book.description"></p>
    </div>
  </div>
</div>

<div class="popup-bg" (click)="onClose()"></div>
