@import "mixins";



:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity .3s;

  &:not(.is-open) {
    pointer-events: none;
    opacity: 0;
  }
}

.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: adjust_color($black-color, $alpha: -.1);
  z-index: 1;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: $container-padding;
  color: $white-color;
  font-size: 42px;
  top: $container-padding;
  cursor: pointer;
  transition: color .2s;
  z-index: 3;

  &:hover {
    color: $hover-white-color;
  }

  &:active {
    color: $white-color;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.popup {
  background: $white-color;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 720px;
  max-height: 100vh;
  overflow: auto;
  padding: 24px;
  margin: 0 48px;
  animation: scaleUp .3s;
  width: 100%;
  z-index: 2;

  &-book {
    width: 240px;
    flex-shrink: 0;
    margin-right: 24px;

    app-book-item {
      width: 100%;
    }

    app-whitelist-toggle {
      margin-top: 12px;
    }
  }

  &-content {
    padding: 12px 12px 0;
  }

  h2 {
    margin: 0 0 .66em;
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
  }
}

@include media-below($screen-mobile) {
  .popup-container {
    padding: 0;
  }

  .popup-close {
    top: $container-padding-mobile;
    right: $container-padding-mobile;
    color: $black-color;

    &:hover {
      color: $hover-black-color;
    }

    &:active {
      color: $black-color;
    }
  }

  .popup {
    margin: 0;
    border-radius: 0;
    height: 100vh;
    flex-flow: column;

    &-book {
      width: Min(100%, 240px);
      margin-bottom: 32px;
      margin-right: 64px;
    }

    &-content {
      padding: 0;
    }

    p {
      font-size: 16px;
    }
  }
}
