<div class="page-inner is-centred">
  <div class="container">
    <div class="page-content">
      <div class="page-content-centred">
        <h1 class="page-title">What's your name?</h1>
        <app-login-form
          (loginSubmit)="onSubmit($event)"
        ></app-login-form>
      </div>
    </div>
  </div>
</div>
